# <font color=green> PYTHON PARA DATA SCIENCE - PANDAS
---

# <font color=green> 1. INTRODUCCIÓN A PYTHON
---

# 1.1 Introducción

> Python es un lenguaje de programación de alto nivel con soporte a múltiples paradigmas de programación. Es un proyecto *open source* y desde su aparición en 1991, viene convirtiéndose en uno de los lenguajes de programación interpretados más populares. 
>
> En los últimos años Python ha desarrollado una comunidad activa de procesamiento científico y análisis de datos y viene destacándose como uno de los lenguajes más relevantes cuando el asunto es ciencia de datos y machine learning, tanto en el entorno académico como también en el entorno laboral.

# 1.2 Instalación y entorno de trabajo

### Instalación Local

### https://www.python.org/downloads/
### o
### https://www.anaconda.com/distribution/

### Google Colaboratory

### https://colab.research.google.com

### Verificando versión

In [48]:
!python -V

Python 3.12.1

# 1.3 Trabajando con datos

In [1]:
import pandas as pd

In [50]:
dataset = pd.read_csv('data/db.csv', sep=';')

In [51]:
dataset

,Nombre,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Llantas de aleación', 'Cerraduras electricas...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16
3,DS5,Motor 2.4 Turbo,2019,NaN,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Llantas de aleación', '4 X 4', 'Central mult...",92612.10
...,...,...,...,...,...,...,...
253,Phantom 2013,Motor V8,2014,27505.0,False,"['Control de estabilidad', 'Piloto automático'...",51759.58
254,Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Asientos de cuero', 'Panel digital', 'Sensor...",51667.06
255,Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Llantas de aleación', 'Control de tracción',...",68934.03
256,Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Aire condicionado', '4 X 4', 'Transmisión au...",122110.90
257,Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimedia', 'Techo panorámico', 'Ve...",90381.47

In [52]:
descripcion = dataset.describe()

In [53]:
descripcion

               Año    Kilometraje          Valor
count   258.000000     197.000000     258.000000
mean   2007.511628   58278.421320   98960.513101
std       9.725906   35836.733259   29811.932305
min    1990.000000     107.000000   50742.100000
25%    1999.000000   27505.000000   70743.512500
50%    2008.000000   55083.000000   97724.380000
75%    2018.000000   90495.000000  124633.302500
max    2019.000000  119945.000000  149489.920000

# <font color=green> 2. TRABAJANDO CON TUPLAS
---

# 2.1 Creando tuplas

Tuplas son secuencias **inmutables** que son utilizadas para guardar colecciones de objetos, geralmente heterogéneos. Pueden ser construídas de varias formas:
```
- Utilizando un par de paréntesis: ( )
- Utilizando una coma a la derecha: x,
- Utilizando un par de paréntesis con objetos separados por comas: ( x, y, z )
- Utilizando: tuple() o tuple(iterador)
```

In [54]:
()

()

In [55]:
1,2,3

(1, 2, 3)

In [56]:
nombre = 'renault'
valor = 15000
(nombre, valor)

('renault', 15000)

In [57]:
# crear una tuple con varias listas
nombre_carro = (['Jetta Variant', 'Passat', 'Crossfox', 'DS5'],[1,2])
nombre_carro

(['Jetta Variant', 'Passat', 'Crossfox', 'DS5'], [1, 2])

In [58]:
type (nombre_carro)

tuple

# 2.2 Selecciones en tuplas

In [59]:
nombre_carro = (['Jetta Variant', 'Passat', 'Crossfox', 'DS5'])
nombre_carro

['Jetta Variant', 'Passat', 'Crossfox', 'DS5']

In [60]:
nombre_carro[1]

'Passat'

In [61]:
nombre_carro[0]

'Jetta Variant'

In [62]:
nombre_carro[-1]

'DS5'

In [63]:
nombre_carro[1:]

['Passat', 'Crossfox', 'DS5']

In [80]:
nombres_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5', ('Fusca', 'Gol', 'C4'))
nombres_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5', ('Fusca', 'Gol', 'C4'))

In [83]:
nombres_carros[-1]

('Fusca', 'Gol', 'C4')

In [84]:
nombres_carros[-1][2]

'C4'

# 2.3 Iterando en tuplas

In [68]:
nombres_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5')
nombres_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [85]:
for item in nombres_carros:
   print(item)

Jetta Variant
Passat
Crossfox
DS5
('Fusca', 'Gol', 'C4')

### Desempacando tuplas

In [86]:
nombres_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5')
nombres_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [87]:
carro_1, carr0_2, carro_3, carro_4 = nombres_carros

In [88]:
carro_1

'Jetta Variant'

In [89]:
carr0_2

'Passat'

In [90]:
carro_3

'Crossfox'

In [91]:
carro_4

'DS5'

In [92]:
_, A, _, B = nombres_carros

In [96]:
A

'Passat'

In [95]:
B

'DS5'

In [98]:
_, C, *_ = nombres_carros

In [99]:
C

'Passat'

## *zip()*

https://docs.python.org/3.6/library/functions.html#zip

In [102]:
carros = ['Jetta Variant', 'Passat', 'Crossfox', 'DS5']
carros

['Jetta Variant', 'Passat', 'Crossfox', 'DS5']

In [103]:
valores = [88078.64, 106161.94, 72832.16, 124549.07]
valores

[88078.64, 106161.94, 72832.16, 124549.07]

In [104]:
zip(carros, valores)

In [105]:
list(zip(carros, valores))

[('Jetta Variant', 88078.64),
 ('Passat', 106161.94),
 ('Crossfox', 72832.16),
 ('DS5', 124549.07)]

In [106]:
for item in zip(carros, valores):
   print(item)

('Jetta Variant', 88078.64)
('Passat', 106161.94)
('Crossfox', 72832.16)
('DS5', 124549.07)

In [108]:
for carro, valor in zip(carros, valores):
   print(carro, valor)

Jetta Variant 88078.64
Passat 106161.94
Crossfox 72832.16
DS5 124549.07

In [109]:
for carro, valor in zip(carros, valores):
   if valor >= 100000:
      print(carro, valor)

Passat 106161.94
DS5 124549.07

# <font color=green> 3. TRABAJANDO CON DICCIONARIOS
---

# 3.1 Creando diccionarios

Listas son colecciones secuenciales, es decir, los elementos de estas secuencias están ordenados y utilizan índices (números enteros) para acceder a los valores.

Los diccionarios son colecciones ligeramente diferentes. Son estructuras de datos que representan un tipo de mapeo. Los mapeos son colecciones de asociaciones entre pares de valores donde el primer elemento del par se conoce como llave (*key*) y el segundo como valor (*value*).

```
diccionario = {key_1: value_1, key_2: value_2, ..., key_n: value_n}
```

https://docs.python.org/3.6/library/stdtypes.html#typesmapping

In [ ]:
# repasando

In [71]:
carros = ['Jetta Variant', 'Passat', 'Crossfox']
carros

['Jetta Variant', 'Passat', 'Crossfox']

In [72]:
valores = [88078.64, 106161.94, 72832.16]
valores

[88078.64, 106161.94, 72832.16]

In [115]:
datos = {
   'Jetta Variant' : 88078.64, 
   'Passat': 106161.94, 
   'Crossfox': 72832.16
}
datos

{'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}

### Creando diccionarios con *zip()*

In [117]:
list(zip(carros, valores))

[('Jetta Variant', 88078.64),
 ('Passat', 106161.94),
 ('Crossfox', 72832.16),
 ('DS5', 124549.07)]

In [118]:
datos = dict(zip(carros, valores))
datos

{'Jetta Variant': 88078.64,
 'Passat': 106161.94,
 'Crossfox': 72832.16,
 'DS5': 124549.07}

# 3.2 Operaciones con diccionarios

## *dict[ key ]*

Devuelve el valor correspondiente a la llave (*key*) en el diccionario.

In [119]:
datos['Passat']

106161.94

## *key in dict*

Devuelve **True** si la llave (*key*) es encontrada en el diccionario.

In [120]:
'Passat' in datos

True

In [121]:
'ford' in datos

False

In [122]:
'ford' not in datos

True

## *len(dict)*

Devuelve el número de itens del diccionario.

In [123]:
len(datos)

4

## *dict[ key ] = value*

Incluye un item al diccionario.

In [126]:
datos['ford'] = 120000
datos

{'Jetta Variant': 88078.64,
 'Passat': 106161.94,
 'Crossfox': 72832.16,
 'DS5': 124549.07,
 'ford': 120000}

## *del dict[ key ]*

Borra el item de llave (*key*) del diccionario.

In [127]:
del datos['Passat']
datos

{'Jetta Variant': 88078.64,
 'Crossfox': 72832.16,
 'DS5': 124549.07,
 'ford': 120000}

# 3.3 Métodos de diccionarios

## *dict.update()*

Actualiza el diccionario.

In [130]:
datos.update({'passat':89300.25})
datos

{'Jetta Variant': 88078.64,
 'Crossfox': 72832.16,
 'DS5': 124549.07,
 'ford': 120000,
 'passat': 89300.25}

In [139]:
datos.update({'passat':92300.78, 'DS5': 128200.62})
datos

{'Jetta Variant': 88078.64,
 'Crossfox': 72832.16,
 'DS5': 128200.62,
 'ford': 130000,
 'passat': 92300.78}

## *dict.copy()*

Crea una copia del diccionario.

In [150]:
datos2 = datos.copy()
datos2

{'Jetta Variant': 88078.64,
 'Crossfox': 72832.16,
 'DS5': 128200.62,
 'ford': 130000,
 'passat': 92300.78}

In [152]:
datos['ford'] = 150000
datos

{'Jetta Variant': 88078.64,
 'Crossfox': 72832.16,
 'DS5': 128200.62,
 'ford': 150000,
 'passat': 92300.78}

In [153]:
datos2

{'Jetta Variant': 88078.64,
 'Crossfox': 72832.16,
 'DS5': 128200.62,
 'ford': 130000,
 'passat': 92300.78}

## *dict.pop(key[, default ])*

Si la llave se encuentra en el diccionario, el elemento se elimina y se devuelve su valor. De lo contrario, se devuelve el valor especificado como *default*. Si no se proporciona el valor *default* y la llave no se encuentra en el diccionario, se generará un error.

In [155]:
datos2.pop('passat')
datos2

{'Jetta Variant': 88078.64,
 'Crossfox': 72832.16,
 'DS5': 128200.62,
 'ford': 130000}

In [159]:
datos2.pop('passat', 'La llave no fue encontrada')

'La llave no fue encontrada'

## *dict.clear()*

Borra todos los itens del diccionario.

In [160]:
datos2.clear()
datos2

{}

# 3.4 Iterando en diccionarios

## *dict.keys()*

Devuelve una lista con las llaves (*keys*) del diccionario.

In [161]:
datos = {
   'Jetta Variant' : 88078.64, 
   'Passat': 106161.94, 
   'Crossfox': 72832.16,
   'ford' : 125000.36,
   'mazda' : 105800.50
}
datos

{'Jetta Variant': 88078.64,
 'Passat': 106161.94,
 'Crossfox': 72832.16,
 'ford': 125000.36,
 'mazda': 105800.5}

In [162]:
datos.keys()

dict_keys(['Jetta Variant', 'Passat', 'Crossfox', 'ford', 'mazda'])

In [165]:
for dato in datos.keys():
   print(dato)

Jetta Variant
Passat
Crossfox
ford
mazda

## *dict.values()*

Devuelve una lista con todos los valores (*values*) del diccionario.

In [163]:
datos.values()

dict_values([88078.64, 106161.94, 72832.16, 125000.36, 105800.5])

In [166]:
for value in datos.values():
   print(value)

88078.64
106161.94
72832.16
125000.36
105800.5

## *dict.items()*

Devuelve una lista con una tupla para cada par llave-valor (*key-value*) del diccionario.

In [167]:
datos.items()

dict_items([('Jetta Variant', 88078.64), ('Passat', 106161.94), ('Crossfox', 72832.16), ('ford', 125000.36), ('mazda', 105800.5)])

In [168]:
for item in datos.items():
   print(item)

('Jetta Variant', 88078.64)
('Passat', 106161.94)
('Crossfox', 72832.16)
('ford', 125000.36)
('mazda', 105800.5)

In [170]:
for key, value in datos.items():
   print(key,' --> ', value)

Jetta Variant  -->  88078.64
Passat  -->  106161.94
Crossfox  -->  72832.16
ford  -->  125000.36
mazda  -->  105800.5

In [171]:
for key, value in datos.items():
   if value >= 100000:
      print(key,' --> ', value)

Passat  -->  106161.94
ford  -->  125000.36
mazda  -->  105800.5

# <font color=green> 4. FUNCIONES Y PAQUETES
---

Funciones son unidades de código reutilizables que realizan una tarea específica, pueden recibir alguna entrada y también pueden devolver algún resultado.

# 4.1 Built-in function

El lenguaje Python tiene varias funciones integradas que siempre están accesibles. Algunas ya las usamos en nuestro entrenamiento:
type(), print(), zip(), len(), set() etc.

https://docs.python.org/3.6/library/functions.html

In [172]:
datos = {'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}
datos

{'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}

In [176]:
suma = sum(datos.values())
suma

267072.74

In [177]:
suma2 = sum(datos.values(), 1000000)
suma2

1267072.74

# 4.2 Definiendo funciones sin y con parámetros

### Funciones sin parámetros

#### Formato estándar

```
def <nombre>():
    <instrucciones>
```

In [180]:
def media():
   valor = (1+2+3)/3
   print(valor)

media()

2.0

In [183]:
def media(lista):
   valor = sum(lista)/len(lista)
   print(valor)

lista = [1, 2, 3, 4]
media(lista)

2.5

### Funciones con parámetros

#### Formato estándar

```
def <nombre>(<param_1>, <param_2>, ..., <param_n>):
    <instrucciones>
```

In [184]:
def media(lista):
   valor = sum(lista)/len(lista)
   return(valor)

lista = [1, 2, 3, 4]
promedio = media(lista)
print(promedio)

2.5

In [186]:
def media(lista):
   valor = sum(lista)/len(lista)
   return(valor, len(lista))

lista = [1, 2, 3, 4]
promedio, long = media(lista)
print(f'promedio: {promedio}, long: {long}')

promedio: 2.5, long: 4

# 4.3 Definiendo funciones que devuelven valores

### Funciones que devuelven un valor

#### Formato estándar

```
def <nombre>(<param_1>, <param_2>, ..., <param_n>):
    <instrucciones>
    return <resultado>
```

### Funciones que devuelven más de un valor

#### Formato estándar

```
def <nombre>(<param_1>, <param_2>, ..., <param_n>):
    <instrucciones>
    return (<resultado_1>, <resultado_2>, ..., <resultado_n>)
```

# <font color=yellow> 5. PANDAS BÁSICO
---

**versión: 1.1.0**

Pandas es una herramienta de manipulación de datos de alto nivel, construida sobre la base del paquete Numpy. El paquete pandas tiene estructuras de datos muy interesantes para la manipulación de datos y, por esto, es ampliamente utilizado por los científicos de datos.


## Estructuras de Datos

### Series

Series son arrays unidimensionales etiquetados capaces de almacenar cualquier tipo de dato. Las etiquetas de las líneas se denominan **index**. La forma básica de crear una Series es la siguiente:


```
    s = pd.Series(datos, index = index)
```

El argumento *datos* puede ser un diccionario, una lista, un array Numpy o una constante.

### DataFrames

DataFrame es una estructura de datos tabular bidimensional con etiquetas de fila y columna. Como la Series, los DataFrames son capaces de almacenar cualquier tipo de datos.


```
    df = pd.DataFrame(datos, index = index, columns = columns)
```

El argumento *datos* puede ser un diccionario, una lista, un array Numpy, una Series y otro DataFrame.

**Documentación:** https://pandas.pydata.org/pandas-docs/version/1.1.0/

# 5.1 Estructuras de datos

In [2]:
import pandas as pd

### Creando una Series a partir de una lista

In [3]:
carros = ['ford', 'renault', 'toyota']
carros

['ford', 'renault', 'toyota']

In [4]:
pd.Series(carros)

0       ford
1    renault
2     toyota
dtype: object

### Creando un DataFrame a partir de una lista de diccionarios

In [5]:
datos = [
    {'Nombre': 'Jetta Variant', 'Motor': 'Motor 4.0 Turbo', 'Año': 2003, 'Kilometraje': 44410.0, 'Cero_km': False, 'Valor': 88078.64},
    {'Nombre': 'Passat', 'Motor': 'Motor Diesel', 'Año': 1991, 'Kilometraje': 5712.0, 'Cero_km': False, 'Valor': 106161.94},
    {'Nombre': 'Crossfox', 'Motor': 'Motor Diesel V8', 'Año': 1990, 'Kilometraje': 37123.0, 'Cero_km': False, 'Valor': 72832.16}
]

In [6]:
dataset = pd.DataFrame(datos)

In [7]:
dataset

          Nombre            Motor   Año  Kilometraje  Cero_km      Valor
0  Jetta Variant  Motor 4.0 Turbo  2003      44410.0    False   88078.64
1         Passat     Motor Diesel  1991       5712.0    False  106161.94
2       Crossfox  Motor Diesel V8  1990      37123.0    False   72832.16

In [8]:
dataset[['Nombre', 'Año', 'Motor', 'Kilometraje', 'Valor', 'Cero_km']]

          Nombre   Año            Motor  Kilometraje      Valor  Cero_km
0  Jetta Variant  2003  Motor 4.0 Turbo      44410.0   88078.64    False
1         Passat  1991     Motor Diesel       5712.0  106161.94    False
2       Crossfox  1990  Motor Diesel V8      37123.0   72832.16    False

### Creando un DataFrame a partir de un diccionario

In [9]:
datos = {
    'Nombre': ['Jetta Variant', 'Passat', 'Crossfox'], 
    'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8'],
    'Año': [2003, 1991, 1990],
    'Kilometraje': [44410.0, 5712.0, 37123.0],
    'Cero_km': [False, False, False],
    'Valor': [88078.64, 106161.94, 72832.16]
}

In [10]:
dataset2 = pd.DataFrame(datos)

In [11]:
dataset2

          Nombre            Motor   Año  Kilometraje  Cero_km      Valor
0  Jetta Variant  Motor 4.0 Turbo  2003      44410.0    False   88078.64
1         Passat     Motor Diesel  1991       5712.0    False  106161.94
2       Crossfox  Motor Diesel V8  1990      37123.0    False   72832.16

### Creando un DataFrame a partir de un archivo externo

In [17]:
dataset3 = pd.read_csv('data/db.csv', sep=';', index_col=0)

In [18]:
dataset3

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
Nombre,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Llantas de aleación', 'Cerraduras electricas...",88078.64
Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Llantas de aleación', '4 X 4', 'Central mult...",92612.10
...,...,...,...,...,...,...
Phantom 2013,Motor V8,2014,27505.0,False,"['Control de estabilidad', 'Piloto automático'...",51759.58
Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Asientos de cuero', 'Panel digital', 'Sensor...",51667.06
Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Llantas de aleación', 'Control de tracción',...",68934.03
Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Aire condicionado', '4 X 4', 'Transmisión au...",122110.90
Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimedia', 'Techo panorámico', 'Ve...",90381.47

# 5.2 Selecciones con DataFrames

### Seleccionando columnas

In [19]:
dataset3.head()

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
Nombre,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Llantas de aleación', 'Cerraduras electricas...",88078.64
Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Llantas de aleación', '4 X 4', 'Central mult...",92612.10

In [20]:
dataset3['Valor']

Nombre
Jetta Variant             88078.64
Passat                   106161.94
Crossfox                  72832.16
DS5                      124549.07
Aston Martin DB4          92612.10
                           ...
Phantom 2013              51759.58
Cadillac Ciel concept     51667.06
Classe GLK                68934.03
Aston Martin DB5         122110.90
Macan                     90381.47
Name: Valor, Length: 258, dtype: float64

In [21]:
type(dataset3['Valor'])

pandas.core.series.Series

In [22]:
dataset3[['Valor']]

                           Valor
Nombre
Jetta Variant           88078.64
Passat                 106161.94
Crossfox                72832.16
DS5                    124549.07
Aston Martin DB4        92612.10
...                          ...
Phantom 2013            51759.58
Cadillac Ciel concept   51667.06
Classe GLK              68934.03
Aston Martin DB5       122110.90
Macan                   90381.47

[258 rows x 1 columns]

In [23]:
type(dataset3[['Valor']])

pandas.core.frame.DataFrame

### Seleccionando lineas - [ i : j ] 

<font color=red>**Observación:**</font> La indexación tiene origen en cero y en las particiones(*slices*) la línea con índice i es **incluída** y la línea con índice j **no es incluída** en el resultado.

In [24]:
dataset3[0:3]

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
Nombre,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Llantas de aleación', 'Cerraduras electricas...",88078.64
Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16

### Utilizando .loc para selecciones

<font color=red>**Observación:**</font> Selecciona un grupo de líneas y columnas según las etiquetas o una matriz booleana.

In [26]:
dataset3.loc['Passat']

Motor                                               Motor Diesel
Año                                                         1991
Kilometraje                                               5712.0
Cero_km                                                    False
Accesorios     ['Central multimedia', 'Techo panorámico', 'Fr...
Valor                                                  106161.94
Name: Passat, dtype: object

In [27]:
dataset3.loc[['Passat']]

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
Nombre,,,,,,
Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94

In [30]:
dataset3.loc[['Passat', 'DS5']]

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
Nombre,,,,,,
Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07

In [31]:
dataset3.loc[['Passat', 'DS5'], ['Motor', 'Valor']]

                  Motor      Valor
Nombre
Passat     Motor Diesel  106161.94
DS5     Motor 2.4 Turbo  124549.07

In [32]:
dataset3.loc[:, ['Motor', 'Valor']]

                                       Motor      Valor
Nombre
Jetta Variant                Motor 4.0 Turbo   88078.64
Passat                          Motor Diesel  106161.94
Crossfox                     Motor Diesel V8   72832.16
DS5                          Motor 2.4 Turbo  124549.07
Aston Martin DB4             Motor 2.4 Turbo   92612.10
...                                      ...        ...
Phantom 2013                        Motor V8   51759.58
Cadillac Ciel concept               Motor V8   51667.06
Classe GLK             Motor 5.0 V8 Bi-Turbo   68934.03
Aston Martin DB5                Motor Diesel  122110.90
Macan                        Motor Diesel V6   90381.47

[258 rows x 2 columns]

### Utilizando .iloc para selecciones

<font color=red>**Observación:**</font> Selecciona con base en los índices, es decir, utiliza la posición de las informaciones.

In [33]:
dataset3.head()

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
Nombre,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Llantas de aleación', 'Cerraduras electricas...",88078.64
Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Llantas de aleación', '4 X 4', 'Central mult...",92612.10

In [34]:
dataset3.iloc[[1]]

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
Nombre,,,,,,
Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94

In [39]:
dataset3.iloc[1:4]

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
Nombre,,,,,,
Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07

In [40]:
dataset3.iloc[1:4, [0, 5, 2]]

                    Motor      Valor  Kilometraje
Nombre
Passat       Motor Diesel  106161.94       5712.0
Crossfox  Motor Diesel V8   72832.16      37123.0
DS5       Motor 2.4 Turbo  124549.07          NaN

In [77]:
dataset3.iloc[[2, 42, 36], [0, 5, 2]]

                      Motor     Valor  Kilometraje
Nombre
Crossfox    Motor Diesel V8  72832.16      37123.0
Optima        Motor 1.8 16v  86641.34          NaN
Pajero TR4  Motor 2.4 Turbo  51606.59          NaN

# 5.3 Consultas en DataFrames

In [78]:
dataset3[1:3][['Año', 'Kilometraje', 'Valor']]

           Año  Kilometraje      Valor
Nombre
Passat    1991       5712.0  106161.94
Crossfox  1990      37123.0   72832.16

In [81]:
dataset3.iloc[[1, 3, 10], :][['Año', 'Kilometraje', 'Valor']]

            Año  Kilometraje      Valor
Nombre
Passat     1991       5712.0  106161.94
DS5        2019          NaN  124549.07
Ford Edge  2002      12859.0   71647.59

### Query con DataFrames

In [82]:
dataset3.head()

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
Nombre,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Llantas de aleación', 'Cerraduras electricas...",88078.64
Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Llantas de aleación', '4 X 4', 'Central mult...",92612.10

In [83]:
dataset3.Motor

Nombre
Jetta Variant                  Motor 4.0 Turbo
Passat                            Motor Diesel
Crossfox                       Motor Diesel V8
DS5                            Motor 2.4 Turbo
Aston Martin DB4               Motor 2.4 Turbo
                                 ...
Phantom 2013                          Motor V8
Cadillac Ciel concept                 Motor V8
Classe GLK               Motor 5.0 V8 Bi-Turbo
Aston Martin DB5                  Motor Diesel
Macan                          Motor Diesel V6
Name: Motor, Length: 258, dtype: object

In [84]:
dataset3.Motor == 'Motor Diesel'

Nombre
Jetta Variant            False
Passat                    True
Crossfox                 False
DS5                      False
Aston Martin DB4         False
                         ...
Phantom 2013             False
Cadillac Ciel concept    False
Classe GLK               False
Aston Martin DB5          True
Macan                    False
Name: Motor, Length: 258, dtype: bool

In [85]:
type(dataset3.Motor == 'Motor Diesel')

pandas.core.series.Series

In [86]:
dataset3[dataset3.Motor == 'Motor Diesel']

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
Nombre,,,,,,
Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94
Effa Hafei Picape Baú,Motor Diesel,1991,102959.0,False,"['Control de estabilidad', 'Panel digital', 'V...",125684.65
Sorento,Motor Diesel,2019,NaN,True,"['Sensor de lluvia', 'Cámara de estacionamient...",81399.35
New Fiesta Hatch,Motor Diesel,2017,118895.0,False,"['Sensor de estacionamiento', 'Cerraduras elec...",66007.16
Kangoo Express,Motor Diesel,2007,29132.0,False,"['Asientos de cuero', 'Transmisión automática'...",146716.91
Fit,Motor Diesel,2013,44329.0,False,"['Frenos ABS', 'Cámara de estacionamiento', 'T...",77836.23
Cielo Hatch,Motor Diesel,2019,NaN,True,"['Panel digital', 'Central multimedia', 'Cámar...",145197.70
Symbol,Motor Diesel,2016,117714.0,False,"['4 X 4', 'Piloto automático', 'Sensor crepusc...",133030.60
A4 Sedan,Motor Diesel,2002,30511.0,False,"['Cámara de estacionamiento', '4 X 4', 'Cerrad...",96369.04
A4 Avant,Motor Diesel,2014,17357.0,False,"['Techo panorámico', '4 X 4', 'Asientos de cue...",138946.88
Silver Shadow,Motor Diesel,2015,99052.0,False,"['4 X 4', 'Central multimedia', 'Aire condicio...",143568.22
Camry,Motor Diesel,2019,NaN,True,"['Cerraduras electricas', 'Llantas de aleación...",138597.27
Clio,Motor Diesel,1990,66437.0,False,"['4 X 4', 'Transmisión automática', 'Frenos AB...",111130.33
Série 3 M3 Coupé,Motor Diesel,2013,19896.0,False,"['Asientos de cuero', 'Sensor de lluvia', 'Air...",69219.89
Gallardo LP 560 – 4,Motor Diesel,2000,113045.0,False,"['Frenos ABS', 'Techo panorámico', 'Central mu...",144118.91
Chana Utility,Motor Diesel,2009,52034.0,False,"['Aire condicionado', 'Sensor de estacionamien...",132662.32
TT Roadster,Motor Diesel,1998,107392.0,False,"['Aire condicionado', 'Sensor de estacionamien...",85311.40
Aston Martin Virage,Motor Diesel,2019,NaN,True,"['Cerraduras electricas', 'Control de tracción...",97290.18
Sandero,Motor Diesel,2015,34783.0,False,"['Piloto automático', 'Techo panorámico', 'Tra...",112350.61
XKR,Motor Diesel,1996,85127.0,False,"['Control de tracción', 'Aire condicionado', '...",54263.16
X5,Motor Diesel,2002,13606.0,False,"['Control de tracción', 'Piloto automático', '...",62041.32
Dodge Dakota,Motor Diesel,1993,71544.0,False,"['Control de tracción', 'Sensor de estacionami...",141083.35
i30 CW,Motor Diesel,2015,8497.0,False,"['Sensor de lluvia', 'Ventanas eléctricas', 'C...",73311.75
Série 7 Sedã,Motor Diesel,2019,NaN,True,"['Ventanas eléctricas', 'Cerraduras electricas...",67539.79
V60,Motor Diesel,2004,91840.0,False,"['Llantas de aleación', 'Sensor crepuscular', ...",114728.74
Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Aire condicionado', '4 X 4', 'Transmisión au...",122110.90

In [88]:
dataset3[(dataset3.Motor == 'Motor Diesel') & (dataset3.Cero_km == True)]

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
Nombre,,,,,,
Sorento,Motor Diesel,2019,NaN,True,"['Sensor de lluvia', 'Cámara de estacionamient...",81399.35
Cielo Hatch,Motor Diesel,2019,NaN,True,"['Panel digital', 'Central multimedia', 'Cámar...",145197.70
Camry,Motor Diesel,2019,NaN,True,"['Cerraduras electricas', 'Llantas de aleación...",138597.27
Aston Martin Virage,Motor Diesel,2019,NaN,True,"['Cerraduras electricas', 'Control de tracción...",97290.18
Série 7 Sedã,Motor Diesel,2019,NaN,True,"['Ventanas eléctricas', 'Cerraduras electricas...",67539.79

### Utilizando el método query

In [90]:
dataset3.query('Motor == "Motor Diesel" and Cero_km == True')

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
Nombre,,,,,,
Sorento,Motor Diesel,2019,NaN,True,"['Sensor de lluvia', 'Cámara de estacionamient...",81399.35
Cielo Hatch,Motor Diesel,2019,NaN,True,"['Panel digital', 'Central multimedia', 'Cámar...",145197.70
Camry,Motor Diesel,2019,NaN,True,"['Cerraduras electricas', 'Llantas de aleación...",138597.27
Aston Martin Virage,Motor Diesel,2019,NaN,True,"['Cerraduras electricas', 'Control de tracción...",97290.18
Série 7 Sedã,Motor Diesel,2019,NaN,True,"['Ventanas eléctricas', 'Cerraduras electricas...",67539.79

# 5.4 Iterando con DataFrames

# 5.5 Tratamiento de datos